.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.links {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.link-item {
  list-style: none;
  padding: 0 1rem;
}

.link-item:not(:first-child) {
  border-left: 2px solid #333;
}

.link {
  color: #333;
}
